/*Reset for normalize  */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img{
  /* max-width: 100%; */
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

a {
  color: inherit;
  outline: 0;
}

a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
    text-decoration: none;
}

/* Base for the proyect itself */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3d3d3d;
}

header{
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  background:#006680;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
}

#navbar{
  width: 500px;
  max-width: 500px;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
}

#navbar ul li {
  padding: 16px;
  text-transform: uppercase;
}

#navbar ul li a{
  color: white;
  font-size: 20px;
  transition: all .2s ease-out;
}
#navbar ul li a:hover{
  color: #d1d1d1;
}

#welcome-section{
  height: 100vh;
  background: #18634c;
  position: relative;
  background: linear-gradient(-45deg,#4290b4 9%,#da3c1c 25%,#eb7867 45%,#ed8775 62%,#ef9081 72%,#f2a79c 78%,#f9d2cf);
}

#welcome-section div{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  min-width: 500px;
  text-align: center;
}

#welcome-section h1 {
  color: #e6e6e6;
  font-size: 40px;
}

#welcome-section h2 {
  color: #312929;
  font-weight: lighter;
}


#projects{
  height: 100vh;
  border: 1px dashed blue;
}

#contact{
  height: 50vh;
  border: 1px dashed blue;
}
