/*Reset for normalize  */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img{
  /* max-width: 100%; */
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

a {
  color: inherit;
  outline: 0;
}

a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
    text-decoration: none;
}

/* Base for the proyect itself */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3d3d3d;
}

header{
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  background:#006680;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
}

#navbar{
  width: 500px;
  max-width: 500px;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
}

#navbar ul li {
  padding: 16px;
  text-transform: uppercase;
}

#navbar ul li a{
  color: white;
  font-size: 20px;
  transition: all .2s ease-out;
}
#navbar ul li a:hover{
  color: #d1d1d1;
}

/* wellcome-header */
#welcome-section{
  height: 100vh;
  background: #18634c;
  position: relative;
  background: linear-gradient(-45deg,#006680 9%,#da3c1c 25%,#eb7867 45%,#ed8775 62%,#ef9081 72%,#f2a79c 78%,#f9d2cf);
}

#welcome-section div{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  min-width: 500px;
  text-align: center;
}

#welcome-section h1 {
  color: #e6e6e6;
  font-size: 40px;
}

#welcome-section h2 {
  color: #312929;
  font-weight: lighter;
}

/* Projects */
#projects{
  min-height: 100vh;
  padding: 60px 30px;
  background-color: #2c2c2c;
}

#projects h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 45px;
  color: #e6e6e6;
  padding-bottom: 25px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.projects-container .project {
  border: 1px solid #e6e6e6;
}

.projects-container .project:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(1/1 * 100%);
}

h3.project-tile{
  background-color: #006680;
  font-size: 25px;
  padding: 8px 16px;
  color: #e6e6e6;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

/* Contact */
#contact{
  height: calc(100vh - 60px);
  background-color: #eb7867;
  position: relative;
}

#contact .content{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  color: #e6e6e6;
}

#contact h4 {
  font-size: 45px;
}

#contact h5 {
  font-size: 25px;
  color: #006680;
  font-weight: normal;
}

#contact ul {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#contact ul li {
  margin: 0 10px;
  transition: all .2s ease;
}

#contact ul li:hover{
  transform: translateY(5px);
  color: white;
}

#contact ul li i {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  #contact ul {
    display: block;
  }
  #contact ul li {
    margin: 20px 10px;
  }
}

/* Footer */
footer{
  background-color: #eb7867;
  border-top: 5px solid #006680;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  footer{
    display: block;
    font-size: 10px;
    text-align: center;
  }
}
